registry=https://registry.npmjs.org/
strict-peer-dependencies=false
auto-install-peers=true
prefer-frozen-lockfile=true
resolution-mode=highest
network-concurrency=16
fetch-retries=3
fetch-retry-factor=2
fetch-retry-mintimeout=1000
fetch-retry-maxtimeout=20000
